{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成本计算</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'cost_analysis/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <!-- <script src="{% static 'js/app.js' %}"></script> -->
    <style>
        .narrow-container {
            max-width: 800px;  /* 设置你希望的最大宽度 */
        }
        .navbar.bg-primary, .btn-gradient, .bg-gradient {
            background: linear-gradient(to right, rgb(112, 151, 183), rgb(163, 154, 164));
        }
        .btn-gradient{
            color:white;
            border:none;
        }
        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        body {
            /* background: linear-gradient(to bottom, #ffffff, #f1f1f1); */
            background: radial-gradient(circle, #989898, #676666)
        }

        body::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(data:image/png;base64,...);
        opacity: 0.1;
        }
    </style>
</head>

<body>
    <div id="particles-js"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="{% static 'logo.jpeg' %}" alt="Logo" style="width: 60px; height: 60px; margin-right: 10px;">
            洽兴成本报价</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/admin/" class="nav-link">管理员</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5 narrow-container">
        <div class="text-center mb-5">
            <h1 class="display-4">成本计算</h1>
        </div>

        <!-- Calculation Card -->
        <div class="card p-4 mb-5">
            <form method="post" action="{% url 'calculate_'|add:category %}" id="form1">
                {% csrf_token %}
                <!-- <input type="hidden" name="form_name" value="form1"> -->
                <input type="hidden" name="name" id="nameInput">
                <div class="form-group">
                    <label>选择零件编号:</label>
                    <select name="selected_product" class="form-control">
                        {% for product in products %}
                        <option value="{{ product.id }}" {% if product.id|stringformat:"s" == request.POST.selected_product %}selected{% endif %}>
                            {{ product.part_number }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label>选择材料:</label>
                    <select name="selected_material" class="form-control">
                        {% for material in materials %}
                        <option value="{{ material.id }}" {% if material.id|stringformat:"s" == request.POST.selected_material %}selected{% endif %}>
                            {{ material.material_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div> -->

                <div class="form-group">
                    <label>选择制造工艺、设备名称和设备型号:</label>
                    <select name="selected_equipment" class="form-control" multiple id="select2-equipment">
                        {% for item in manufacturing_data %}
                        <optgroup label="{{ item.process }}">
                            {% for equipment in item.equipments %}
                            {% for model in equipment.models %}
                            {% with item_value=item.process|add:"|"|add:equipment.name|add:"|"|add:model %}
                            <option value="{{ item_value }}"
                                    {% if item_value in selected_equipments %}selected{% endif %}>
                                {{ equipment.name }} - {{ model }}
                            </option>
                            {% endwith %}
                            {% endfor %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
                
                
                

                <div class="form-group">
                    <button type="submit" class="btn btn-gradient btn-block">计算</button>
                </div>
            </form>
        </div>

        <!-- Results Card -->
        <div class="card p-4">
            <div class="mb-4">
                <h2>材料费</h2>
                {% if material_result %}
                <p class="bg-gradient text-white p-2 rounded"><strong>结果:</strong> {{ material_result }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <h2>包装费</h2>
                {% if packaging_result %}
                <p class="bg-gradient text-white p-2 rounded"><strong>结果:</strong> {{ packaging_result }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <h2>运输费</h2>
                {% if shipping_result %}
                <p class="bg-gradient text-white p-2 rounded"><strong>结果:</strong> {{ shipping_result }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <h2>加工费</h2>
                {% if processing_result %}
                <p class="bg-gradient text-white p-2 rounded"><strong>结果:</strong> {{ processing_result }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <h2>总成本</h2>
                {% if total_cost %}
                <p class="bg-gradient text-white p-2 rounded"><strong>结果:</strong>{{ total_cost }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        particlesJS.load('particles-js', '{% static "js/particlesjs-config.json" %}', function() {
          console.log('particles.js loaded - callback');
        });
    </script>


    <script>
        function getURLParameter(name) {
            var match = new RegExp('[?|&]' + name + '=([^&;]+?)(&|#|;|$)').exec(location.search);
            if (match) {
                return decodeURIComponent(match[1].replace(/\+/g, '%20'));
            }
            return null;
        }
    </script>

    <script>
        $(document).ready(function() {
            $('select').select2(); // 初始化所有的下拉菜单
});
</script>
<script>


const name = getURLParameter('name');
if (name) {
    localStorage.setItem('name', name);
}
const storedName = localStorage.getItem('name');
if (storedName) {
    const titleElement = document.querySelector('h1');
    titleElement.textContent = `${storedName}成本计算`;
}

window.addEventListener('DOMContentLoaded', (event) => {
    const name = getURLParameter('name');
    if (name) {
        document.getElementById('nameInput').value = name;
        const titleElement = document.querySelector('h1');
        titleElement.textContent = `${name}成本计算`;
    }

});
</script>
<script>
    $(document).ready(function() {
    const selectElement = $('#select2-equipment');

    // 初始化 Select2
    selectElement.select2();

    // 从 LocalStorage 获取保存的选项
    const selectedItems = localStorage.getItem('selectedEquipment');
    if (selectedItems) {
        const items = JSON.parse(selectedItems);
        selectElement.val(items).trigger('change');
    }

    // 当用户更改选择时保存到 LocalStorage
    selectElement.on('change', function() {
        const selected = $(this).val();
        localStorage.setItem('selectedEquipment', JSON.stringify(selected));
    });
});
</script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.1/js/bootstrap.min.js"></script> -->
<footer class="mt-5">
    <div class="text-center">
        <p>&copy; Etale.ai. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
