<div id="additional-fields">
  <label style="font-size: 20px; margin-bottom: 10px">计算产能</label>
  <div class="horizontal-input-group">
    <div class="input-wrapper">
      <label class="input-label">模具穴数</label>
      <input type="number" id="mould_cavity" placeholder="" required />
    </div>
    <div class="input-wrapper">
      <label class="input-label">成型时间(秒)</label>
      <input type="number" id="forming_time" placeholder="" required />
    </div>
    <div class="input-wrapper">
      <label class="input-label">稼动率</label>
      <input type="float" id="utilization_rate" placeholder="" required />
    </div>
  </div>
</div>
