<div class="accordion-item">
  <h2 class="accordion-header" id="laborheading">
    <button
      class="accordion-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseLaborParameters"
      aria-expanded="true"
      aria-controls="collapseLaborParameters"
      style="margin-bottom: 10px;"
    >
      人工费用计算
    </button>
  </h2>
  <div
    id="collapseLaborParameters"
    class="accordion-collapse collapse show"
    aria-labelledby="laborheading"
    data-bs-parent="#calculationAccordion"
  >
  <div id="select-container" style="margin-bottom: 5px; width: 100%;">
    <select id="labor-type-select" class="form-select" multiple="multiple">
      <option value="line_worker1">流水线工人1</option>
      <option value="line_worker2">流水线工人2</option>
      <option value="line_worker3">流水线工人3</option>
      <option value="line_worker4">流水线工人4</option>
      <option value="line_worker5">流水线工人5</option>
      <option value="line_worker6">流水线工人6</option>
      <option value="small_master">大师傅</option>
      <option value="big_master">小师傅</option>
      <!-- Add more labor types as needed -->
    </select>
  </div>

  <div id="dynamic-input-container">
    <!-- Dynamic input fields will be appended here -->
  </div>

    <div class="horizontal-input-group">
      <div class="input-wrapper">
        <label class="input-label"
          >总人工费（日）
          <span
            class="tool-tip-icon"
            data-toggle="tooltip"
            title="人数*操作工平均工资之和"
          >
            <i class="fas fa-question-circle"></i>
          </span>
        </label>
        <input
          class="form-control"
          type="number"
          id="total_daily_cost"
          readonly
        />
      </div>
      <div class="input-wrapper">
        <label class="input-label"
          >每日实际工时
          <span class="tool-tip-icon" data-toggle="tooltip" title="实际每天工作时长">
            <i class="fas fa-question-circle"></i>
          </span>
        </label>
        <input
          class="form-control"
          type="number"
          id="total_hours"
        />
      </div>

      <div class="input-wrapper">
        <label class="input-label"
          >人工费（小时）
          <span class="tool-tip-icon" data-toggle="tooltip" title="总人工费/每日实际工时,默认24小时">
            <i class="fas fa-question-circle"></i>
          </span>
        </label>
        <input
          class="form-control"
          type="number"
          id="total_hourly_cost"
          readonly
        />
      </div>
    </div>
  </div>
</div>
